---
tile_position: 4
layout: page
image: ../assets/images/banner/about.jpg
nav-menu: true
namespace: about
permalink: /about/
permalink_es: /quienes_somos/
permalink_pt: /sobre_nos/
permalink_en: /about/
---

<section id="one" class="bright">
	<div class="inner">
		{% t 'about.one' %}
			<div class="box alt">
				<div class="row 150% uniform">
					<div class="2u 3u(small) 6u$(xsmall)">
						<a href="https://hondurasdelegation.blogspot.com/" target='_blank'>
							<span class="image fit"><img src="../assets/images/logos/cadeho.png" alt="" /></span>
						</a>
					</div>
					<div class="2u 3u(small) 6u$(xsmall)">
						<a href="https://www.behance.net/malcrew/" target='_blank'>
							<span class="image fit"><img src="../assets/images/logos/logo_MAL.png" alt="" /></span>
						</a>
					</div>
					<div class="3u 6u(small) 10u$(xsmall)">
						<a href="http://orangotango.info/" target='_blank'>
							<span class="image fit"><img src="../assets/images/logos/logo_orango.png" alt="" /></span>
						</a>
					</div>
				</div>
			</div>
		</p>
	</div>
</section>

<section id="two">
	<div class="inner">
		<p>
			{% t 'about.two' %}
		</p>
		<div class="box alt">
			<div class="row 150% uniform">
				<div class="2u 3u(small) 6u(xsmall)">
					<a href="http://netzwerk-selbsthilfe.de/" target='_blank'>
						<span class="image fit"><img src="../assets/images/logos/netzwerk_selbsthilfe.png" alt="" /></span>
					</a>
				</div>
				<div class="2u 3u(small) 6u(xsmall)">
					<a href="https://www.rosalux.de/" target='_blank'>
						<span class="image fit"><img src="../assets/images/logos/rls.jpg" alt="" /></span>
					</a>
				</div>
				<div class="2u 3u(small) 6u(xsmall)">
					<a href="https://www.umverteilen.de/" target='_blank'>
						<span class="image fit"><img src="../assets/images/logos/umverteilen.png" alt="" /></span>
					</a>
				</div>
				<div class="2u 3u(small) 6u(xsmall)">
					<a href="https://www.aktion-selbstbesteuerung.de/" target='_blank'>
						<span class="image fit"><img src="../assets/images/logos/asb.png" alt="" /></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
