---
tile_position: 3
layout: landing
image: ../assets/images/banner/aktivwerden.jpg
nav-menu: true
namespace: aktiv_werden
permalink: /aktiv_werden/
permalink_es: /participa/
permalink_pt: /tornese_ativo/
permalink_en: /become_active/
---

<section id="one" class="bright">
	<div class="inner">
		{% t 'aktiv_werden.one' %}
	</div>
</section>

<section id="two">
	<div class="inner">
		{% t 'aktiv_werden.two' %}
	</div>
</section>
