---
tile_position: 2
layout: landing
image: ../assets/images/banner/hintergrund.jpg
nav-menu: true
namespace: hintergrund
permalink: /hintergrund/
permalink_es: /contexto/
permalink_pt: /contexto/
permalink_en: /background/
---

<section id="one">
	<div class="inner">
		{% t 'hintergrund.one' %}
	</div>
</section>

<section id="two" class="spotlights">
	<section>
		<div class="image">
			<div class="to-slider-one">
				{% for image in site.static_files %}
						{% if image.path contains 'images/hintergrund/berta' %}
							<div><a href="../{{ image.path }}"><img src="../{{ image.path }}" alt=""/></a></div>
						{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Berta Cáceres / Honduras (1971-2016)</h3>
				</header>
				{% t 'hintergrund.two' %}
			</div>
		</div>
	</section>

	<section>
		<div class="image">
			<div class="to-slider-one">
				{% for image in site.static_files %}
						{% if image.path contains 'images/hintergrund/marielle' %}
							<div><a href="../{{ image.path }}"><img src="../{{ image.path }}" alt=""/></a></div>
						{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Marielle Franco / Brazil (1979-2018)</h3>
				</header>
				{% t 'hintergrund.three' %}
			</div>
		</div>
	</section>
</section>

<section id="three">
	<div class="inner">
		<div class="12u">
			{% t 'hintergrund.four' %}
		</div>
		<div class="6u 12u(small)">
			<img src="../assets/images/hintergrund/IMG_03892.JPG" alt=""/>
			<p></p>
		</div>
	</div>
</section>

<section id="four" class="bright">
	<div class="inner">
		{% t 'hintergrund.five' %}
	</div>
</section>
