---
tile_position: 1
layout: landing
image: ../assets/images/banner/wandbild.jpg
nav-menu: true
namespace: wandbild
permalink: /wandbild/
permalink_es: /mural/
permalink_pt: /mural/
permalink_en: /mural/
---

<section id="one">
	<div class="inner">
		{% t 'wandbild.one' %}
		<iframe src="https://player.vimeo.com/video/372498074" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	</div>
</section>

<section id="two" class="bright">
	<div class="inner">
		<div class="box alt">
			<div class="to-slider-three">
				{% for image in site.static_files %}
				    {% if image.path contains 'images/wandbild/' %}
							<div><a href="../{{ image.path }}"><img src="../{{ image.path }}" alt=""/></a></div>
						{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section id="two">
	<div class="inner">
		<div class="box alt">
			<div class="row 50% uniform">
				<div class="12u"><span class="image fit"><a href="../assets/images/wandbild_final.JPG"><img src="../assets/images/wandbild_final.JPG" alt=""/></a></span></div>
			</div>
		</div>
	</div>
</section>
