<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>Ein Projekt von <a href="https://orangotango.info" target="_blank">Orangotango</a> und <a href="https://hondurasdelegation.blogspot.com/" target="_blank">cadeho</a></li>
				<li>Website by <a href="https://coderat.cc" target="_blank">codeRat</a></li>
			</ul>
		</div>
	</footer>
    <!-- Matomo Image Tracker-->
	<img referrerpolicy="no-referrer-when-downgrade" src="https://coderat.matomo.cloud/matomo.php?idsite=7&amp;rec=1" style="border:0" alt="" />
	<!-- End Matomo -->
</div>

<!-- Scripts -->
	<script src="{{ "./assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "./assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "./assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "./assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "./assets/js/util.js" | absolute_url }}"></script>
	<script src="{{ "./assets/js/slick.min.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "./assets/js/main.js" | absolute_url }}"></script>
