<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "./assets/css/main.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "./assets/css/slick.css" | relative_url }}" />
	<link rel="stylesheet" href="{{ "./assets/css/slick-theme.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->

  <title>{% t 'title' %}</title>
	<!-- Social media previews -->
	<meta property="og:locale" content="de_DE">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% t 'index.title' %}">
	<meta property="og:description" content="{% t 'description' %}">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
	<meta property="og:site_name" content="{{ site.title }} - {{ site.subtitle }}">
	<meta property="og:image" content="http://mural-berta-marielle.site/assets/images/banner/home.jpg">

	<meta property="og:image:width" content="1024" />
	<meta property="og:image:height" content="768" />
</head>
