<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>

		<a {% if site.lang == 'es' %} class="lang-btn active"{% endif %} href="{{ site.baseurl_root }}/es{{ page.permalink_es }}">es</a>
		<a {% if site.lang == 'pt' %} class="lang-btn active"{% endif %} href="{{ site.baseurl_root }}/pt{{ page.permalink_pt }}">pt</a>
		<a {% if site.lang == 'en' %} class="lang-btn active"{% endif %} href="{{ site.baseurl_root }}/en{{ page.permalink_en }}">en</a>
		<a {% if site.lang == 'de' %} class="lang-btn active"{% endif %} href="{{ site.baseurl_root }}   {{ page.permalink }}">de</a>

		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
    {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% assign sorted = (site.pages | sort: 'tile_position') %}
	  {% for page in sorted %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ site.translations[site.lang][page.namespace].title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
