<section id="one" class="tiles">
  {% assign sorted = (site.pages | sort: 'tile_position') %}
  {% for page in sorted %}
  {% if site.tiles-source == 'pages' and page.tile_position %}
  <article>
    <span class="image">
      {% if page.image %}
        <img src="{{ page.image }}" alt="" />
      {% endif %}

    </span>
    <header class="major">
      <h3><a href="{% translate_link page.namespace %}" class="link">{{ site.translations[site.lang][page.namespace].title }}</a></h3>
      <p>{{ site.translations[site.lang][page.namespace].description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>
