<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner-home" class="major">
        <div class="inner">
            <span class="image">
                <img src="../assets/images/banner/home.jpg" alt="">
            </span>
            <header class="major">
                <h1>{% t 'index.title' %}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{% t 'index.description' %}</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                {{ content }}
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
