<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

    <section id="banner" class="major">
        <div class="inner">
          <span class="image">
            <img src="./{{ page.image }}" alt="">
          </span>
          <header class="major">
            <h1>{{ site.translations[site.lang][page.namespace].title  }}</h1>
          </header>
          <div class="content">
            {{ site.translations[site.lang][page.namespace].description }}
          </div>
        </div>
    </section>

  {{ content }}

  {% include footer.html %}

</body>

</html>
